.navbar{
    display: flex;
    background: black;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.navbar-logo{
    margin-left: 60px;
    display: flex;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.navbar-components{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: azure;
    gap: 60px;
}
.navbar-components li{
    list-style: none;
}
.o {
    color: yellow;
}
.navbar-lang-signup{
    margin-right: 60px;
    align-items: center;
    display: flex;
    color: white;
    gap: 10px;
}
.navbar-lang,.navbar-signup{
    display: flex;
}
.seperator{
    margin: 0 10px;
    font-weight: bold;
}


